@using OnlineTeach.Web.Views.Cource

<ul class="nav nav-pills nav-stacked">
    <li class="@CourceNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">课程列表</a></li>
    <li class="@CourceNavPages.CreateNavClass(ViewContext)"><a asp-action="Create">创建课程</a></li>
</ul>