
@{
   // ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>课程后台</h2>
<div>
    <h4>创建课程</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_CourceNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}


