@using OnlineTeach.Web.Views.Adult

<ul class="nav nav-pills nav-stacked">
    <li class="@AdultNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">教师申请</a></li>
    <li class="@AdultNavPages.CourceNavClass(ViewContext)"><a asp-action="Cource">课程审核</a></li>
</ul>