@model OnlineTeach.Web.Models.CourceViewModels.CourceItemDisplayViewModel

<div class="col-md-3">
    <div class="item " style="background-color:#fff;border:1px solid #f5f5f5">
        <img src="http://s03.xesimg.com/web/2018/01/15/15160080887902.png" class="img-responsive" />
        <div style="padding-left:3%;">
            <h4>@(Html.DisplayFor(model => model.Grade))@(Model.Name)</h4>
            <p>
                预约数量：@(Model.BookCount)人
            </p>
            <p>
                共计@(Model.OutLineCount)节
            </p>
            <div style="text-align:right;padding-bottom:5px;padding-right:5px;">
                <span style="font-size:24px;font-weight:bold;color:red">¥@(Model.Price)</span>
            </div>
        </div>
    </div>
</div>